@page "/create/{id}"
@using ProjectBlazor.Shared 
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@attribute [Authorize]

<h3>Criar Novo Registro</h3>

<EditForm Model="@newTodoItem" OnValidSubmit="CreateTodo">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="title">Título:</label>
        <InputText id="title" @bind-Value="newTodoItem.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label for="title">Odd (x):</label>
        <InputNumber id="value" @bind-Value="newTodoItem.Value" class="form-control" />
    </div>
    <div class="form-group">
        <label for="title">Unidad:</label>
        <InputNumber id="unidad" @bind-Value="newTodoItem.Unidad" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Criar</button>
</EditForm>

@code {
    [Parameter]
    public string? id { get; set; }
    private TodoItem newTodoItem = new TodoItem();

    private async Task CreateTodo()
    {
        try
        {
            newTodoItem.DateInsert = DateTime.Now.ToUniversalTime();
            newTodoItem.UserId = id;
            var response = await HttpClient.PostAsJsonAsync<TodoItem>("api/todo", newTodoItem);
            
            if (response != null)
            {
                // Redirecionar para a página de leitura após a criação bem-sucedida
               Navigation.NavigateTo("/");
            }
            else
            {
                // Tratar erros, se houver
            }
        }
        catch (Exception ex)
        {
            // Lidar com erros de criação
        }
    }
}
