@page "/lol"

<h1>League of Legends Player Info</h1>

<div>
    <input type="text" @bind="SummonerName" placeholder="Summoner Name" />
    <button @onclick="GetSummonerInfo">Get Info</button>
</div>

<select class="form-control" name="execute_against" style="width: 200px" id="selectedOption" @bind="selectedOption">

    <option value="BR1">BR1</option>
    <option value="EUN1">EUN1</option>
    <option value="EUW1">EUW1</option>
    <option value="JP1">JP1</option>
    <option value="KR">KR</option>
    <option value="LA1">LA1</option>
    <option value="LA2">LA2</option>
    <option value="NA1">NA1</option>
    <option value="OC1">OC1</option>
    <option value="PBE1">PBE1</option>
    <option value="PH2">PH2</option>    
    <option value="RU">RU</option>
    <option value="SG2">SG2</option>
    <option value="TH2">TH2</option>
    <option value="TR1">TR1</option>
    <option value="VN2">VN2</option>
</select>

@if (SummonerInfo != null)
{
    <div>
    <h2>@SummonerInfo.Name</h2>
        <p>Level: @SummonerInfo.Level</p>
        <p>Profile Icon ID: @SummonerInfo.ProfileIconId</p>
    </div>
}

@code {
    private string? SummonerName;
    private SummonerInfoDto? SummonerInfo;

     private string selectedOption = "EUW1"; // Set the default selected option

     // You can handle the change event if needed
    private void OnSelectedOptionChanged(ChangeEventArgs e)
    {
        selectedOption = e!.Value.ToString();
    }

    private async Task GetSummonerInfo()
    {
        var apiKey = "RGAPI-51abaf2d-fc10-4b5b-8f16-1a0c52e5b0fb"; // Substitua pelo seu token de API da Riot Games
                                                                   //var region = "na1"; // Substitua pela região desejada
        //var region = "BR1"; // Substitua pela região desejada

        var httpClient = new HttpClient();
        httpClient.DefaultRequestHeaders.Add("X-Riot-Token", apiKey);

        var response = await
        httpClient.GetAsync($"https://{selectedOption}.api.riotgames.com/lol/summoner/v4/summoners/by-name/{SummonerName}");

        if (response.IsSuccessStatusCode)
        {
            SummonerInfo = await response.Content.ReadFromJsonAsync<SummonerInfoDto>();
        }
        else
        {
            SummonerInfo = null;
        }
    }

    private class SummonerInfoDto
    {
        public string? Name { get; set; }
        public int Level { get; set; }
        public int ProfileIconId { get; set; }
    }
}
