@page "/advice-slip"
@using System.Net.Http
@using System.Net.Http.Json

<h3>Conselho do Dia</h3>

@if (string.IsNullOrEmpty(advice))
{
    <p>Carregando...</p>
}
else
{
    <p>@advice</p>
}

<button class="btn btn-primary" @onclick="GetRandomAdvice">Obter Novo Conselho</button>

@code {
    private string advice = string.Empty;

    [Inject]
    private HttpClient? HttpClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetRandomAdvice();
    }

    private async Task GetRandomAdvice()
    {
        try
        {
            var adviceResponse = await HttpClient!.GetFromJsonAsync<AdviceResponse>("https://api.adviceslip.com/advice");
            advice = adviceResponse!.Slip!.Advice!;
        }
        catch (HttpRequestException)
        {
            advice = "Não foi possível obter o conselho. Verifique sua conexão com a internet.";
        }
    }

    private class AdviceResponse
    {
        public adviceSlip? Slip { get; set; }
    }

    private class adviceSlip
    {
        public string? Advice { get; set; }
    }
}
